.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap:20px
}